*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

/* Inicio de instrucciones para mobile */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Inicio de header */
.cintillo {
    background-color: black;
    width: 100%;
    height: 3.2rem;
    position: relative; /* Añadido para establecer el contexto de posición */
}

/* Icono de hamburguesa */
.menu-toggle {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem; /* Margen derecho de 0.5rem */
}

/* Estilo del icono de hamburguesa */
.menu-toggle {
    display: block;
    cursor: pointer;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem; /* Ajusta el margen derecho según sea necesario */
    z-index: 2;
}

.bar {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 6px 0; /* Espaciado entre las barras */
    transition: 0.4s; /* Duración de la transición */
}

/* ... Tu código existente ... */

/* Ajuste del icono de hamburguesa y animación */
.menu-toggle .bar {
    transition: 0.4s; /* Agrega la transición a todas las barras */
}

.menu-toggle.active .bar {
    /* Cambiar las barras a la "X" al estar activo */
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Añadir animación de fade in solo para las opciones del menú activo */
.menu.active li {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.menu.active li:nth-child(1) { animation-delay: 0.2s; }
.menu.active li:nth-child(2) { animation-delay: 0.4s; }
.menu.active li:nth-child(3) { animation-delay: 0.6s; }
.menu.active li:nth-child(4) { animation-delay: 0.8s; }

/* Ocultar las opciones del menú cuando no está activo */
.menu li {
    opacity: 1;
    display: block;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu:not(.active) li {
    opacity: 0;
    transform: translateX(-20px); /* Desplaza hacia la izquierda al ocultar */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px); /* Desplaza desde la derecha */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Sin desplazamiento */
    }
}

/* Estilo para las opciones del menú */
.menu.active ul {
    list-style-type: none;
    padding: 0;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu.active li {
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

.menu.active a {
    color: white;
    text-decoration: none;
}

/*Fin de la sección del navegador*/

/*Inicio sección de logotipo*/
.logotipo{
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para la imagen del logotipo */
.logotipo img {
    width: 8rem;
    height: 8rem;
    /* Añade cualquier estilo adicional que desees */
}


/*Estilos para banner principal*/
.main-content {
    background-image: url('./Imagenes/banner-principal.svg'); /* Reemplaza con la ruta correcta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center; /* Alinea horizontalmente */
}

.main-content__container {
    text-align: center; /* Centra el texto horizontalmente */
}

.main-content__title {
    font-size: 1.6rem; /* Ajusta según sea necesario */
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 10px;
    color: #fc8f01;
}

.main-content__subtitle {
    font-size: 1.6rem; /* Ajusta según sea necesario */
    font-weight: 900;
    color: #ffffff; /* Puedes cambiar el color según tus preferencias */
    white-space: pre-line; /* Esto permite que los saltos de línea en el código fuente generen saltos de línea en la pantalla */
}

.main-content__button {
    background: transparent;
    border: 2px solid #ff9900;
    color: #fff;
    padding: 5px 10px; /* Ajusta el padding según sea necesario */
    font-size: 1rem; /* Ajusta según sea necesario */
    border-radius: 25px;
    cursor: pointer;
    /* Ajustes para centrar el botón */
    margin-top: 3rem; /* Ajusta el margen superior según sea necesario */
}

/* Final de banner principal */

/* Estilos para la sección de bullet points */
.bullet-section {
    background-color: #212121;
    width: 100%;
    height: 270px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
    justify-content: space-evenly; /* Distribuye los elementos equitativamente en el eje principal */
    align-items: center; /* Centra verticalmente los elementos */
}

.bullet-box {
    text-align: center; /* Centra el contenido horizontalmente */
    width: 45%; /* Ajusta el ancho según sea necesario para que haya dos elementos por fila */
    margin-bottom: 10px; /* Espacio entre las filas */
}

.bullet {
    width: 64px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: 64px;
    margin-bottom: 8px; /* Ajusta el margen inferior según sea necesario */
}

.bullet-text {
    font-size: 1.2rem; /* Ajusta según sea necesario */
    color: #ffffff; /* Cambia el color del texto según tus preferencias */
}

/* Fin de la sección de Bullets */

/*Inicio de sección Conózcanos*/
.conozcanos__titular-conozcanos{
    background-color: #F38634;
}

.titular-conozcanos__h2{
    color: #ffffff;
}
